!!! XML
!!!
%html
  %head
    %title teach yourself to code
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    - if flash[:error]
      = content_tag :div, flash[:error], :id => "flash_error"
    #jsError{:style=>"display:none"}
    #top_nav
      #top_nav_content
        #home
          = link_to 'teach yourself to code', '/'
        #user_info
          - if current_user
            = link_to current_user.username, '/' + current_user.username
            |
            = link_to 'logout', '/logout'
          - else
            = link_to 'Signup', '/signup'
            |
            = link_to 'Login', '/login'
    .content
      = yield