!!! XML
!!!
%html
  %head
    %title teach yourself to code
    / ....is open source! Check out https://github.com/kateray/tytc
    <meta name = "description" content = "Link sharing site for the best programming tutorials and resources">
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
    = render "application/ga"
  %body
    <a href="http://github.com/kateray/tytc"><img style="position: absolute; top: 0; right: 0; border: 0; z-index:10;" src="https://a248.e.akamai.net/camo.github.com/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
    - if flash[:error]
      = content_tag :div, flash[:error], :id => "flash_error"
    #jsError{:style=>"display:none"}
    #top_nav
      #top_nav_content
        #home
          = link_to 'teach yourself to code', '/'
        #user_info
          - if user_signed_in?
            = link_to current_user.username, '/' + current_user.username
            |
            = link_to('logout', destroy_user_session_path, :method => :delete)
          - else
            = link_to('signup', new_user_registration_path)
            |
            = link_to('login', new_user_session_path)
    .content
      = yield